@import url("https://fonts.googleapis.com/css2?family=Khula:wght@400;500;600;700&display=swap");

:root {
  /* Primarily used for background colors or gradient on the main and auth pages */
  --bg-top: #ffffff;
  --bg-bottom: #cbd6fc;
  --bg-gradient: linear-gradient(to top right, var(--bg-bottom), var(--bg-top));

  /* General background colors */
  --bg-white: #ffffff;
  --bg-light: #f6f8ff; /* Hover background effect (e.g. for icons no white background)*/

  /* For main focus elements (text, buttons)*/
  --focus-primary: #355dee; /* Also for icons in focus */
  --focus-secondary: #93a8f6;
  --focus-dark: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Khula", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; /* Improves the appearance of fonts on WebKit-based browsers */
  -moz-osx-font-smoothing: grayscale; /* Ensures smoother font rendering on macOS for Mozilla-based browsers */
}

/* Prevent horizontal scrolling and ensure that the content does not exceed the width of the viewport */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
