@import "../mixins";

.layout {
  height: 100vh;
  padding: var(--side-margin-value);
  display: grid;
  grid-template-columns: 2fr 1fr;
  // gap: 10px;

  background: var(--bg-gradient);
}

.left-panel {
  max-width: 85%;
}

.left-panel-description {
  @include thin-text;
  color: var(--focus-primary);
  font-size: 24px;
}

.auth-form {
  width: 475px;
  height: fit-content;
  padding: 50px;

  border-radius: var(--rounded-corners);
  background-color: var(--bg-white);
}

.auth-form h1 {
  @include regular-text;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;

  color: var(--focus-dark);
  font-size: 32px;
}

.auth-form label {
  display: block;
  @include regular-text;
  color: var(--focus-dark);
}

%auth-input-styles {
  display: block;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  margin-bottom: 20px;
  border: 1.5px solid var(--focus-secondary);
  border-radius: var(--rounded-corners);

  @include thin-text;
  color: var(--focus-dark);
  font-size: var(--regular-font-size);

  &::placeholder {
    color: var(--focus-secondary);
  }
}

.auth-form input {
  @extend %auth-input-styles;
}

.auth-form .submit-button {
  margin-top: 48px;
  @extend %auth-input-styles;
  background-color: var(--focus-primary);
  border-color: var(--focus-primary);

  @include thin-text;
  color: var(--bg-white);
}

.redirect-button {
  @extend %auth-input-styles;
  background-color: var(--bg-white);

  @include thin-text;
  color: var(--focus-secondary);
}

.reset-password {
  display: block;
  width: fit-content;
  margin: auto;

  @include thin-text;
  color: var(--focus-secondary);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 5px;
  cursor: pointer;
}

.sign-up {
  width: 475px;
  height: 580px;

  border-radius: var(--rounded-corners);
  background-color: var(--bg-white);
}

.bank-image {
  width: 120%;
  height: 100%;
  position: relative;
  left: -100px;
  top: -50px;
}
