services:
  redis:
    image: redis/redis-stack:latest
    container_name: redis
    restart: on-failure
    ports:
      - "6379:6379"
      - "8001:8001"
  api:
    build:
      context: ../../../../
      dockerfile: ml_service/infra/docker/uvicorn/Dockerfile
    depends_on:
      - redis
    image: api:latest
    ports:
      - "8000:8000"
    restart: always
    environment:
      CELERY_BROKER_URL: "redis://redis:6379"
      CELERY_RESULT_BACKEND: "redis://redis:6379"

  worker:
    build:
      context: ../../../../
      dockerfile: ml_service/infra/docker/celery/Dockerfile
    depends_on:
      - redis
    image: celery_worker:latest
    restart: always
    environment:
      CELERY_BROKER_URL: "redis://redis:6379"
      CELERY_RESULT_BACKEND: "redis://redis:6379"
